@model Biluthyrning_AB.Models.ViewModels.OrdersRentVM

@{
    ViewData["Title"] = "Hyrbil";
}
<style>
    .ghost {
        visibility: hidden;
    }
</style>
<div style="text-align: center">
    <h2>Fyll i uppgifter för hyrning av bil</h2><br />
    <form asp-controller="Orders" asp-action="Rent" method="post">
        <label asp-for="personNumber"></label><br />
        <input asp-for="personNumber" style="width: 165px" /><br />
        <span asp-validation-for="personNumber"> </span>
        <br />
        <label asp-for="RentalDate"></label><br />
        <input asp-for="RentalDate" id="rentalDate"/><br />
        <span asp-validation-for="RentalDate"></span>
        <br />
        <label asp-for="ReturnDate"></label><br />
        <input asp-for="ReturnDate" id="returnDate" /><br />
        <span asp-validation-for="ReturnDate"></span>
        <div id="divResult"></div>

    </form>
    <button id="GetAvailableCars" >List tillgängliga bilar</button>
</div>
@section scripts
{
<script>
   
    function Ghost() {
        $("#GetAvailableCars").addClass("ghost");
    };
</script>
<script>

    $("#GetAvailableCars").click(function () {
        var RentalDate = $("#rentalDate").val();
        var ReturnDate = $("#returnDate").val();
        var dataModel = { RentalDate: RentalDate, ReturnDate: ReturnDate };
        request = $.ajax({
            url: "/AvailableCars",
            type: "Post",           
            data: JSON.stringify(dataModel),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                Ghost();
                $("#divResult").html(result);
            }
        });
  

    });

        

</script>
}
