@model Biluthyrning_AB.Models.ViewModels.OrdersReturnVM


@{
    ViewData["Title"] = "Return";
}

<div style="text-align: center">
    <h2>Fyll i uppgifter för återlämning av bil</h2><br />

    <form asp-controller="Orders" asp-action="Return" method="post">

        <label asp-for="Kilometre"></label><br />
        <input asp-for="Kilometre" style="width: 165px" /><br />
        <span asp-validation-for="Kilometre"> </span>

        <label asp-for="OrderNumber"></label><br />
        <input asp-for="OrderNumber" style="width: 165px" /><br />
        <span asp-validation-for="OrderNumber"> </span>


        <label asp-for="Date"></label><br />
        <input asp-for="Date" /><br />

        <span asp-validation-for="Date"></span>


        <br />
        <input type="submit" value="Lämna tillbaka" />
    </form>
</div>