<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/skeleton.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="menubarTop">
        <ul>

            <li><a asp-controller="Cars" asp-action="Home">Home</a></li>
            <li><a asp-controller="Orders" asp-action="Rent">Hyr bil</a></li>
            <li><a asp-controller="Orders" asp-action="Return">Lämna tillbaka bil</a></li>
            <li><a asp-controller="Customers" asp-action="Index">Kundrelaterat</a></li>
            <li><a asp-controller="Cars" asp-action="Index">Bilrelaterat</a></li>
            <li><a asp-controller="Cars" asp-action="Maintenance">Underhåll</a></li>
            <li><a asp-controller="Events" asp-action="Index">Logg</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>