<div class="menubarSide">
    <ul>
        <li><a asp-controller="Cars" asp-action="Cleaning">Städning</a></li>
        <li><a asp-controller="Cars" asp-action="Service">Service</a></li>
    </ul>
</div>