<div class="menubarSide">
    <ul>
        <li><a asp-controller="Customers" asp-action="Add">Lägg till kund</a></li>
        <li><a asp-controller="Customers" asp-action="ListOfAll">Lista med kunder</a></li>
    </ul>
</div>