@model Biluthyrning_AB.Models.ViewModels.CustomersAddVM

@{
    ViewData["Title"] = "Lägg till kund";
}
        <partial name="_MenuBarCustomers" />
    <div style="text-align: center">
        <form asp-controller="Customers" asp-action="Add" method="post">

            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" style="width: 165px" /><br />
            <span asp-validation-for="FirstName"> </span>
            <br />
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" style="width: 165px" /><br />
            <span asp-validation-for="LastName"></span>
            <br />
            <label asp-for="PersonNumber"></label><br />
            <input asp-for="PersonNumber" style="width: 165px" /><br />
            <span asp-validation-for="PersonNumber"></span>

            <br />
            <input type="submit" value="Lägg till kund" />
        </form>
        </div>
