@model Biluthyrning_AB.Models.ViewModels.CustomersAddVM

@{
    ViewData["Title"] = "Lägg till kund";
}

<h1>Lägg till kund</h1>

<form asp-controller="Customers" asp-action="Add" method="post">

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"> </span>


    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>


    <label asp-for="PersonNumber"></label>
    <input asp-for="PersonNumber" />
    <span asp-validation-for="PersonNumber"></span>

    <br />
    <input type="submit" value="Lägg till kund" />
</form>