@model Biluthyrning_AB.Models.ViewModels.CustomersListOfAllVM[]
@{
    ViewData["Title"] = "ListOfAllC";
}
<partial name="_MenuBarCustomers" />

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_ListOfCustomers" />
        </div>
    </div>
</div>
