<div class="menubarSide">
    <ul>
        <li><a asp-controller="Cars" asp-action="Add">Lägg till bil i registret</a></li>
        <li><a asp-controller="Cars" asp-action="ListOfAll">Lista med bilar</a></li>
    </ul>
</div>