@model Biluthyrning_AB.Models.ViewModels.CarsRentVM

@{
    ViewData["Title"] = "Hyrbil";
}
<style>
    .ghost {

  visibility: hidden;

}
</style>
<div style="text-align: center">
    <h2>Fyll i uppgifter för hyrning av bil</h2><br />
    <form asp-controller="Cars" asp-action="Rent" method="post">

        @*<label asp-for="ListOfCarTypes"></label><br />
        <select asp-for="SelectedCarTypeValue"
                asp-items="Model.ListOfCarTypes"></select>
        <span asp-validation-for="SelectedCarTypeValue"></span>
        <br />*@
        <label asp-for="personNumber"></label><br />
        <input asp-for="personNumber" style="width: 165px" /><br />
        <span asp-validation-for="personNumber"> </span>
        <br />
        <label asp-for="RentalDate"></label><br />
        <input asp-for="RentalDate" id="rentalDate" /><br />
        <span asp-validation-for="RentalDate"></span>
        <br />
        <label asp-for="ReturnDate"></label><br />
        <input asp-for="ReturnDate" id="returnDate" /><br />
        <span asp-validation-for="ReturnDate"></span>
        <div id="divResult"></div>

    </form>
<button id="GetAvailableCars" onclick="AvailableCarsGet(); Ghost();">List tillgängliga bilar</button>
</div>
@section scripts
{
<script>
    function AvailableCarsGet() {
        $("#GetAvailableCars").click(function () {
            $.ajax({
                url: "/AvailableCars",
                type: "Get",
                success: function (result) {
                    console.log(result);
                    $("#divResult").html(result);
                }
            });

        });
    }
    function Ghost() {
        $("#GetAvailableCars").addClass("ghost");
    };
    </script>
<script>
    
        $("#GetAvailableCars").click(function () {
            var RentalDate = $("#rentalDate").val();
            var ReturnDate = $("#returnDate").val();
            console.log(RentalDate);
            var viewModel = { RentalDate: RentalDate, ReturnDate: ReturnDate };
            $.ajax({
                url: "/AvailableCars",
                type: "Post",
                data: JSON.stringify(viewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                }
            });

        });
    
</script>
}
